.DS_Store
*.swp
*.swo

.config/fish/local.fish
.config/zsh/local.zsh
.config/tmux/local.conf
.config/nvim/lua/config/local.lua

.pi/agent/auth.json
.pi/agent/sessions/
.pi/agent/cache/
.pi/agent/git/
.pi/agent/pi-*.log
